<!DOCTYPE html>
<html lang="en">
  <head>
    <title>ETF SQL Query Tool</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  </head>
  <body>
  
    <section data-ng-controller="SignupController">
  
      <div class="container">
        <div class="row">
          <div class="col-sm-6 col-md-4 col-md-offset-4">
            <div class="panel panel-default">
            
	      <div class="panel-heading">
	        <strong> Sign up !</strong>
	      </div>
	  
	      <div class="panel-body">
	        <fieldset>
	          <div class="row">
		    <div class="center-block">
		      <img class="profile-img" src="/assets/databaseIcon.png" alt="Database">
		      </div>
		    </div>
		
		    <div class="row">
	              <div class="col-sm-12 col-md-10  col-md-offset-1 ">
		        <div class="form-group">
		          <div class="input-group">
		            <span class="input-group-addon">
		              <i class="glyphicon glyphicon-user"></i>
			    </span>
			 
	                   <input class="form-control" name="username" placeholder="Username" type="text" ng-model="username"/><br/>
		          </div>
	  	        </div>
		   
		        <div class="form-group">
		          <div class="input-group">
		            <span class="input-group-addon">
			      <i class="glyphicon glyphicon-envelope"></i>
		            </span>
		       
                            <input class="form-control" name="email" placeholder="Email" type="email" ng-model="email"/><br/>
		          </div>
		        </div>
		        
		        		        <div class="form-group">
		          <div class="input-group">
		            <span class="input-group-addon">
			      <i class="glyphicon glyphicon-lock"></i>
		            </span>
		       
                            <input class="form-control" name="password" placeholder="Password" type="password" ng-model="password"/><br/>
		          </div>
		        </div>
		        
		        		        		        <div class="form-group">
		          <div class="input-group">
		            <span class="input-group-addon">
			      <i class="glyphicon glyphicon-lock"></i>
		            </span>
		       
                            <input class="form-control" name="password_confirmation" placeholder="Re-enter Password" type="password" ng-model="password_confirmation" />
		          </div>
		        </div>
		   
		        <div class="form-group">
		          <input type="submit" class="btn btn-lg btn-primary btn-block" value="Sign up" ng-click="signUp()">
		        </div>
		      </div>
	            </div>
	          </fieldset>

	      </div>
	 
	      <div class="panel-footer"> 
	      	SQL Tool, ETF Sarajevo.
	      </div>
	    
            </div>
          </div>
        </div>
      </div>
	  
	<div ng-if="success == 'Success'">
		Uspješna registracija.
	</div>
	<div ng-if="success == 'Error'">
		Registracija nije uspjela.
	</div>
	
	  
    </section>
  </body>
</html>

