<!DOCTYPE html>
<html>
  <head>
    <title>Console</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/ivh-treeview.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  </head>
  <body>
    <div class="container">
      <div ng-controller = "UploadController">
        <!-- Button trigger modal -->
        <button type="file" on-read-file="displayFileContents(contents)" class="scriptButton btn btn-primary launch-modal" data-toggle="modal" data-target="#myModal">
          <i class="glyphicon glyphicon-cloud-upload"></i>&nbsp; Upload Script
        </button>
        <!-- Dropdown User History -->
      <div class="btn-group">
        <div class="dropdown scriptButton">
          <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" data-ng-click="getUserHistory()">User History
          <span class="caret"></span></button>
          <ul class="dropdown-menu">
            <li data-ng-repeat="uh in user_queries"><a href="" data-ng-click="insertOldQuery($index)">{{uh.scriptcontent}}</a></li>
          </ul>
        </div>
      </div>
      <!-- Dropdown Connection Choice-->
      <div class="btn-group">
        <div class="dropdown scriptButton">
          <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" data-ng-click="getConnections()">Connections
          <span class="caret"></span></button>
          <ul class="dropdown-menu">
            <li data-ng-repeat="con in connections"><a href="" data-ng-click="insertOldConnections($index)">User {{con.databasename}} at {{con.databaselocation}} running {{con.databasetype}}</a></li>
          </ul>
           <button class="connectionButton btn btn-primary"  data-toggle="modal" data-target="#ModalConnection">
              <i class="glyphicon glyphicon-flash"></i>&nbsp; Edit connections
           </button>
        </div>
      </div>
        <!-- Button Connect -->
        <button class="scriptButton btn btn-primary launch-modal" data-ng-click="connect()">
          <i class="glyphicon glyphicon-link"></i>&nbsp; Connect
        </button>
        
        <!-- Button Disconnect -->
        <button class="scriptButton btn btn-primary launch-modal" data-ng-click="disconnect()">
          <i class="glyphicon glyphicon-flash"></i>&nbsp; Disconnect
        </button>
        <!-- Connection Status alert-->
      <div class="btn-group">
          <div class="alert alert-danger" ng-show="!connectionStatus.status"> 
            Connection Closed!
          </div>
      </div>
      <div class="btn-group">
          <div class="alert alert-success" ng-show="connectionStatus.status"> 
            Connection Open!
          </div>
      </div>
        <!-- Modal for Script -->
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Upload Script</h4>
              </div>
            
              <div class="modal-header">
                <input type="file" on-read-file="displayFileContents(contents)" />
              </div>
            
              <div class="modal-body">
                <textarea id="textareaID" ng-model="results" class="form-control" rows="16"></textarea>
              </div>
            
              <div class="modal-footer">
                <div class="input-group">
                  <input type="textbox" placeholder="Search for Keywords..." class="form-control" ng-model="query.first">
                  <span class="input-group-btn">
                    <button class="btn btn-default" type="button" ng-click="search()">Search</button>
                  </span>
                </div>
              </div>
            
              <div class="modal-footer">
                <button type="submit" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary" data-ng-click="executeScript()">Execute Script</button>
              </div>
            </div>
          </div>
        </div>
        <!-- Modal for Connections-->
        <div class="modal fade" id="ModalConnection" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Connection Settings</h4>
              </div>
            
              <div class="modal-header">
                <div class="btn-group">
                  <div class="dropdown scriptButton">
                    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" data-ng-click="getConnections()">Connections
                    <span class="caret"></span></button>
                    <ul class="dropdown-menu">
                      <li data-ng-repeat="con in connections"><a href="" data-ng-click="insertOldConnectionsForEdit($index)">User {{con.databasename}} at {{con.databaselocation}} running {{con.databasetype}}</a></li>
                    </ul>
                  </div>
                </div>
              </div>
            <form role="form" novalidate>
              <div class="modal-body">

                <div class="form-group">
                <label for="current_connection.databasetype">Database type: </label><input type="textbox"  class="form-control" data-ng-model="current_connection.databasetype" />
                <label for="current_connection.databaseusername">Database user: </label><input type="textbox" class="form-control" data-ng-model="current_connection.databaseusername" />
                <label for="current_connection.databasepassword_digest">Database password: </label><input type="password"  class="form-control" data-ng-model="current_connection.databasepassword_digest" />
                <label for="current_connection.databaselocation">Database location: </label><input type="textbox" class="form-control" data-ng-model="current_connection.databaselocation" />
                <label for="current_connection.sid">Database SID: </label><input type="textbox" class="form-control" data-ng-model="current_connection.sid" />
                <label for="current_connection.port">Database port: </label><input type="textbox" class="form-control" data-ng-model="current_connection.port" />
                </div>
              </div>       
              <div class="modal-footer">
                <button type="submit" class="btn btn-default" data-ng-click="createNewConnection()">New Connection</button>
                <button type="submit" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary" data-ng-click="saveConnection()">Save</button>
              </div>
            </form>
            </div>
          </div>
        </div>
      </div>
      
      <section data-ng-controller="ConsoleController" data-ng-init="init()">
      
        <div ng-controller="TreeController as drvo">
          <input type="text" ng-model="bagSearch" />
          <div ivh-treeview="drvo.bag" ivh-treeview-filter="bagSearch"></div>
        </div>
        
        <h1>Query</h1>
        <div class="form-group">
          <textarea class="form-control" style="font-family:'Courier New'" rows="20" id="query" data-ng-model="scriptContent" ng-change="textEvaluate()" ng-trim="false"></textarea>
          <button type="submit" class="scriptButton btn btn-primary" data-ng-click="create()">Submit</button>
      
          <h1>Results</h1>
          <table class="table table-striped" ng-if="queryResult == 'Success'">
            <thead>
              <th>Index</th>
              <th data-ng-repeat="i in column_names">{{i}}</th>
            </thead>  
            <tbody>
              <tr data-ng-repeat="e in rows_result">
                <td>{{$index+1}}</td>
    	        <td data-ng-repeat="j in e track by $index">{{j}}</td>
	      </tr>
            </tbody>
          </table>
	
          <div class="alert alert-danger" ng-if="queryResult == 'Error'"> 
            {{ error }} at line	{{ line }}, column {{ column }}
          </div>
      
          <div class="clearfix visible-lg"></div>
        </div>
      </div>
    </section>
    
  </body>
</html>

