<!DOCTYPE html>
<html>
<head>
  <title>Console</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</head>
<body>
  <section data-ng-controller="ConsoleController" data-ng-init="init()">
<div class="container">
  <h1>Query</h1>
  <div class="form-group">
    <form class="form-horizontal" data-ng-submit="create()" novalidate>
      <textarea class="form-control" rows="20" id="query" data-ng-model="scriptcontent"></textarea>
      <button type="submit" class="btn btn-primary" data-ng-click="SubmitQuery">Submit</button>
    </form>
    <h1>Results</h1>
    <table class="table table-striped">
        <thead>
          <th>Index</th>
          <th data-ng-repeat="i in column_names">{{i}}</th>
        </thead>  
            <tbody>
        <tr data-ng-repeat="e in rows_result">
            <td>{{$index+1}}</td>
            <td data-ng-repeat="j in e track by $index">{{j}}</td>
        </tr>
    </tbody>
</table>
    <div class="clearfix visible-lg"></div>
  </div>
</div>
</section>
</body>
</html>

